<?xml version="1.0"?>
<ruleset name="WordPress Plugin">
    <description>Ruleset for a WordPress plugin.</description>

    <file>./native-lazyload.php</file>
    <file>./src</file>

    <exclude-pattern type="relative">^/vendor/*</exclude-pattern>

    <arg name="colors"/>
    <arg value="vs"/>

    <!-- WordPress Coding Standard -->
    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName"/>
        <exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
    </rule>

    <!-- Selected WordPress Coding Standards tweaks -->
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="string" value="native-lazyload"/>
        </properties>
    </rule>
</ruleset>
